*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #403D39;
    text-align: center;
    color: #FFFCF2
}

.container{
    height: 70vh;
    margin-top: 80px;
    justify-content: center;
    display: flex;
    gap: 1vmin;
    
}

.game{
    height: 60vmin;
    width: 60vmin;
    justify-content: center;
    display: flex;
    gap: 1vmin;
    flex-wrap: wrap;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 0.2rem #CCC5B9;
    font-size: 3vmin;
   text-align: center;
   color: #EB5E28;
   background-color: #FFFCF2;
}
.box:hover{
    box-shadow: 0 0 1.5rem #CCC5B9;
}

#reset-btn{
    background-color: #CCC5B9;
    color: #252422;
    padding: 10px 20px;
    font-size: 3vmin;
    border-radius: 1rem;
}

#reset-btn:hover{
    box-shadow: 0 0 1rem#FFFCF2 ;
    border: none;

}

#new-game{
    background-color: #CCC5B9;
    color: #252422;
    padding: 10px 20px;
    font-size: 3vmin;
    border-radius: 1rem;
    margin-top: 5vmin;
}

#new-game:hover{
    box-shadow: 0 0 1rem#FFFCF2 ;
    border: none;
}

#msg{
    font-size: 50px;
    color: #FFFCF2;
    text-shadow: 0 0 2rem #ee7444 ;
    margin-top: 8vmin;

}

.hide{
    display: none;
}

.border{
    border-width: 5px;
    border: #CCC5B9;
   
}







